body * {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:focus {
    text-decoration: none;
}

ul {
    list-style: none;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

