<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../css/song.css">
    <link rel="stylesheet" href="../../css/comment.css">

</head>
<body>
<div id="app">
    <div id="bd">
        <div id="main">
            <div id="left">
                <!-- 左 -->
                <div id="touxiang">
                    <img :src="this.song.pic" alt="" style="width: 100%; height: 100%;">
                </div>
            </div>
            <div id="right">
                <!-- 右 -->
                <div class="name">
                    <span style="font-size: 30px;">
                        {{this.song.name}}
                    </span>
                    <p>歌手：{{this.song.singerName}}</p>

                </div>
                <div class="song-list">
                    歌词：
                    <span>
                            {{this.song.lyric}}
                        </span>
                </div>

                <!-- 大盒子 -->
                <div class="part_head">
                    <h2>评论
                        <span></span>
                        <!-- 所有评论 -->
                    </h2>
                </div>
                <div class="comment__input">
                    <div class="comment__textarea">
                        <div class="comment__textarea_inner">
                            <!--                                <div class="comment__textarea_default c_tx_normal" contenteditable="true"-->
                            <!--                                     style="display: block;">-->
                            <!--                                </div>-->
                            <!--                                <div class="comment__textarea_input" contenteditable="true" style="display: none;"-->
                            <!--                                     v-model="content">{{content}}-->
                            <input v-model="content" type="text" style="width: 100%;height: 66px" placeholder="请输入你的想法">

                            <!--                                </div>-->
                        </div>
                        <div class="comment__tips">剩余
                            <span class="c_tx_highlight">300</span>
                            字
                            <!--						不懂是不是很需要-->
                        </div>
                    </div>
                    <a class="comment__face"><i class="icon_comment icon_comment_face"></i></a>
                    <div class="comment__tool">
                        <a class="mod_btn_green comment__tool_btn" href="#" @click="setComment()"
                           style="margin-right: 0">发表评论</a>
                    </div>
                </div>
                <!-- part2 -->

                <div class="mod_hot_comment" id="main3">
                    <div class="comment_type__title c_b_normal">
                        <h2>全部评论</h2>
                    </div>
                    <ul class="comment__list">
                        <li class="comment__list_item c_b_normal" v-for="comment in comments" :key="comments.id">
                            <!-- 循环语句开始的地方 -->
                            <div><a class="comment__avatar">
                                <img class="comment_list__avatar_img"
                                     :src="comment.tx"
                                     alt=""
                                     data-qar-def=""></a>
                                <h4 class="comment__title">
                                    <a class="c_tx_thin">{{comment.username}}</a>
                                </h4>
                                <div class="comment__date c_tx_thin">{{comment.create_time}}</div>
                                <p class="comment__text ">
                                    <!-- 评论内容 -->
                                    <span>{{comment.content}}</span>
                                </p>
                                <div class="comment__opt">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
        </div>

    </div>
</div>

</body>
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/axios/axios-0.18.0.js"></script>
<script src="../../plugins/jquery/jquery-1.10.0.min.js"></script>
<script src="song.js"></script>
</html>