<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../css/geshouxiangqing.css">
    <link rel="stylesheet" type="text/css" href="../../css/comment.css">
    <link rel="stylesheet" href="../../plugins/element-ui/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <style>
        .el-dropdown-link {
            cursor: pointer;
            color: #409EFF;
        }

        .el-icon-arrow-down {
            font-size: 12px;
        }
    </style>
</head>
<body>
<div id="app">
    <div id="bd">
        <div id="main">
            <div id="left">
                <!-- 左 -->
                <div id="touxiang">
                    <img :src="items.pic" alt="" style="width: 100%; height: 100%;">
                </div>
            </div>
            <div id="right">
                <!-- 右 -->
                <div class="name">
                    <span style="font-size: 25px;">{{ items.title }}</span>
                    <!--                    <p></p>-->
                    <p>{{ items.introduction }}</p>

                    <!-- 收藏 -->
                    <button id="collectButton" class="collect-button">
                    <span class="heart-icon" :class="{ active: items.isCollected } "
                          style="border: black; margin-top: 25px;"
                          @click="toggleCollect(items.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                 class="star" viewBox="0 0 16 16">
                                <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                            </svg>
                        </span>
                    </button>

                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         class="bi bi-caret-right" viewBox="0 0 16 16" @click="playAll()">
                        <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                        <span>播放全部</span>
                    </svg>
                </div>

                <div class="song-list">
                    <el-table :data="songs" style="width: 100%">
                        <el-table-column label="">
                            <template slot-scope="scope">
                                <i class="bi bi-play" style="color: blue;width: 30px; height: 30px;margin-right: 5px"
                                   @click="addtoplay(scope.row)"></i>
                                <i v-if="scope.row.like" class="bi bi-suit-heart"
                                   style="color: red;margin-right: 5px"
                                   @click="toggleFavorite(scope.row)"></i>
                                <i v-else class="bi bi-suit-heart-fill" style="color: red;margin-right: 5px"
                                   @click="toggleFavorite(scope.row)"></i>
                            </template>
                        </el-table-column>
                        <el-table-column prop="name" label="歌名"></el-table-column>
                        <el-table-column prop="singerName" label="歌手"></el-table-column>
                        <el-table-column prop="class" label="专辑"></el-table-column>
                        <el-table-column prop="">
                            <template slot-scope="scope">
                                <el-dropdown>
                                    <span class="el-dropdown-link" @click="togglePopup()">收藏<i
                                        class="el-icon-arrow-down el-icon--right"></i></span>
                                        <el-dropdown-menu slot="dropdown">
                                            <el-dropdown-item v-for="(songList,i) in songLists">
                                                <a rel="nofollow" @click="getPriceRange(songList.id,song.id)">
                                                    {{songList.title}}
                                                </a>
                                        </el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <div class="mod_comment" id="main2">
                    <!-- 大盒子 -->
                    <div class="part_head">
                        <h2>评论
                            <span>{{all_comment}}</span>
                            <!-- 所有评论 -->
                        </h2>
                    </div>
                    <div class="comment__input">
                        <div class="comment__textarea">
                            <div class="comment__textarea_inner">
                                <div class="comment__textarea_default c_tx_normal" contenteditable="true"
                                     style="display: block;">
                                </div>
                                <div class="comment__textarea_input" contenteditable="true" style="display: none;"
                                     v-model="content">{{content}}

                                </div>
                            </div>
                            <div class="comment__tips">剩余
                                <span class="c_tx_highlight">300</span>
                                字
                                <!--						不懂是不是很需要-->
                            </div>
                        </div>
                        <a class="comment__face"><i class="icon_comment icon_comment_face"></i></a>
                        <div class="comment__tool">
                            <a class="mod_btn_green comment__tool_btn" href="#" @click="setComment()"
                               style="margin-right: 0">发表评论</a>
                        </div>
                    </div>
                    <!-- part2 -->

                    <div class="mod_hot_comment" id="main3">
                        <div class="comment_type__title c_b_normal">
                            <h2>全部评论({{all_comment}})</h2>
                        </div>
                        <ul class="comment__list">
                            <li class="comment__list_item c_b_normal" v-for="comment in comments" :key="comments.id">
                                <!-- 循环语句开始的地方 -->
                                <div><a class="comment__avatar">
                                    <img class="comment_list__avatar_img"
                                         src="https://y.qq.com/music/photo_new/T002R300x300M0000000GhGG0imP4j_1.jpg?max_age=2592000"
                                         alt=""
                                         data-qar-def=""></a>
                                    <h4 class="comment__title">
                                        <a class="c_tx_thin">{{comment.username}}</a>
                                    </h4>
                                    <div class="comment__date c_tx_thin">{{comment.create_time}}</div>
                                    <p class="comment__text ">
                                        <!-- 评论内容 -->
                                        <span>{{comment.content}}</span>
                                    </p>
                                    <div class="comment__opt">
                                        <a class="comment__zan " @click="getUp()">{{comment.up}}
                                            <i class="icon_comment icon_comment_like">up</i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

</body>
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/axios/axios-0.18.0.js"></script>
<script src="../../plugins/jquery/jquery-1.10.0.min.js"></script>
<script src="../../plugins/element-ui/index.js"></script>
<script src="gedan.js"></script>
</html>