<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>设置</title>
    <link rel="stylesheet" href="../../plugins/element-ui/index.css">
    <link rel="stylesheet" href="css/AccountSetting.css">
</head>
<body>
<div id="div">
    <h1 id="ht">账号设置</h1>
    <br>
    <el-divider class="line" content-position="left"></el-divider>
    <div  class="i-box">
        <i class="el-icon-mobile myicon"></i>
        <span>已绑定号码：{{'181****3660'}}
            <el-button @click="PhonedialogForm">重新绑定</el-button>
        </span>
    </div>
    <el-divider class="line" content-position="left" ></el-divider>
    <div  class="i-box">
        <i class="el-icon-lock myicon"></i>
        <span>需要通过手机号修改密码
            <el-button @click="PwddialogForm">修改密码</el-button>
        </span>
    </div>

    <!-- 手机号绑定弹窗-->
    <div class="add-form">
        <el-dialog title="重新绑定手机号" :visible.sync="dialogFormVisible4Phone">
            <el-steps :active="active" finish-status="success">
                <el-step title="步骤 1"></el-step>
                <el-step title="步骤 2"></el-step>
                <el-step title="步骤 3"></el-step>
            </el-steps>
            <div class="step-content">
                <div v-if="active === 0">
                    <p>你已绑定号码：{{'181****3660'}} </p>
                    <el-input
                            placeholder="请输入完整号码："
                            v-model="phoneSet.oldphone"
                            clearable>
                    </el-input>
                </div>
                <div v-if="active === 1">
                    <p>输入新手机号，我们将发送验证码到新手机号；</p>
                    <el-input
                            placeholder="请输入新号码："
                            v-model="phoneSet.newphone"
                            clearable>
                    </el-input>
                </div>
                <div v-if="active === 2">
                    <p>输入验证码； 未收到？<a href="#" @click="sentMasage">重新发送</a></p>
                    <el-input
                            placeholder="请输入验证码："
                            v-model="phoneSet.yzm"
                            clearable>
                    </el-input>
                </div>
                <div v-if="active === 3">
                    <i class="el-icon-check form-icon"></i>
                    <p>修改成功</p>
                </div>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button v-if="this.active < 3" style="margin-top: 12px;" @click="nexta">下一步</el-button>
                <el-button v-else type="primary" @click="dialogFormVisible4Phone = false">确定</el-button>
                <el-button @click="dialogFormVisible4Phone = false">取消</el-button>
            </div>
        </el-dialog>
    </div>

    <!--修改密码弹窗-->
    <div class="add-form">
        <el-dialog title="修改密码" :visible.sync="dialogFormVisible4Pwd">
            <el-steps :active="active" finish-status="success">
                <el-step title="步骤 1"></el-step>
                <el-step title="步骤 2"></el-step>
                <el-step title="步骤 3"></el-step>
            </el-steps>
            <div class="step-content">
                <div v-if="active === 0">
                    <p>你已绑定号码：{{'181****3660'}} 输入完整号码后发送验证码</p>
                    <el-input
                            placeholder="请输入完整号码："
                            v-model="pwdSet.phone"
                            clearable>
                    </el-input>
                </div>
                <div v-if="active === 1">
                    <p>输入验证码； 未收到？ <a href="#" @click="sentMasage">重新发送</a></p>
                    <el-input
                            placeholder="请输入验证码："
                            v-model="pwdSet.yzm"
                            clearable>
                    </el-input>
                </div>
                <div v-if="active === 2">
                    <p>输入新密码</p>
                    <el-input
                            placeholder="请输入密码："
                            v-model="pwdSet.pwd1"
                            clearable>
                    </el-input>
                    <el-input
                            placeholder="再请输入密码："
                            v-model="pwdSet.pwd2"
                            clearable>
                    </el-input>
                </div>
                <div v-if="active === 3">
                    <i class="el-icon-check form-icon"></i>
                    <p>修改成功</p>
                </div>

            </div>

            <div slot="footer" class="dialog-footer">
                <el-button v-if="this.active < 3" style="margin-top: 12px;" @click="nextb">下一步</el-button>
                <el-button v-else type="primary" @click="PhoneEdit()">确定</el-button>
                <el-button @click="dialogFormVisible4Pwd = false">取消</el-button>
            </div>

        </el-dialog>
    </div>

</div>
</body>
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/element-ui/index.js"></script>
<script src="../../plugins/axios/axios-0.18.0.js"></script>
<script src="js/AccountSetting.js"></script>
</html>