<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>设置</title>
    <link rel="stylesheet" href="../../plugins/element-ui/index.css">
</head>
<body>
<div id="div">
    <h1 style="color: #2b2b2b; font-size: 20px;">个人信息</h1>
    <!--个人信息组件-->
    <div id="seletByDIY">
        <el-form :model="formdata" style="margin-right: auto">
            <el-form-item label="用户名" required prop="username">
                <el-input v-model="formdata.username" style="width: 300px;"></el-input>
            </el-form-item>
            <el-form-item label="性别" required prop="sex">
                <el-radio-group v-model="formdata.sex">
                    <el-radio :label="1">男</el-radio>
                    <el-radio :label="0">女</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="生日" prop="birth">
                    <el-date-picker value-format="timestamp" v-model="formdata.birth" type="date"
                                    placeholder="请选择日期"></el-date-picker>
            </el-form-item>
            <el-form-item label="地区" prop="location">
                <el-input v-model="formdata.location" style="width: 300px"></el-input>
            </el-form-item>
            <el-form-item label="邮箱" prop="email">
                <el-input v-model="formdata.email" style="width: 300px;"></el-input>
            </el-form-item>
            <el-form-item label="个人简介" prop="introduction">
                <el-input type="textarea" v-model="formdata.introduction" maxlength="200"
                          style="width: 400px;"></el-input>
            </el-form-item>
            <el-form-item style="align-items: center">
                <el-button type="warning" @click="updata()">修改</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
</body>
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/element-ui/index.js"></script>
<script src="../../plugins/axios/axios-0.18.0.js"></script>
<script src="js/infoSetting.js"></script>
</html>