<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../css/geshouxiangqing.css">
</head>
<body>
<div id="app">
    <header>
        <!-- 网站的页眉，包括导航栏、Logo等 -->
        <nav>
            <!-- 导航栏 -->
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/歌手">歌手</a></li>
                <li><a href="/歌曲">歌曲</a></li>
                <li><input type="text" v-model="text"/>
                    <input type="submit"  value="搜索" @click="get()"/>
                </li>
                <!-- 其他导航链接 -->
            </ul>

        </nav>
    </header>
    <div id="bd">
        <div id="head">

        </div>
        <div id="main" >
            <div id="left">
                <!-- 左 -->
                <div id="touxiang">
                    <img :src="`${imageurl}`" alt="" style="width: 100%; height: 100%;">
                </div>
                <div id="xinxi">
                    <span style="font-size: 30px;margin-left: 50px">基本资料</span>
                    <br>
                    <span style="font-size: 20px;margin-left: 20px">性别：{{sex}}</span>
                    <br>
                    <span style="font-size: 20px;margin-left: 20px">生日：{{birth}}</span>
                    <br>
                    <span style="font-size: 20px;margin-left: 20px">故乡：{{location}}</span>
                </div>
            </div>
            <div id="right">
                <!-- 右 -->
                <div class="name">
                    <span style="font-size: 25px;">{{name}}</span>
<!--                    <p>著名作词人、作曲人、唱片制作人、歌手。内地独立音乐之标杆人物，有音乐鬼才之称。2009年独立出版首张词曲全创作专辑《自定义》，2010年独立出版第二张词曲全创作专辑《寻雾启示》，两度掀起讨论热潮，一跃成为内地互联网讨论度最高的独立音乐人。2011年加盟海蝶音乐，推出第三张词曲全创作专辑《苏格拉没有底》，发行首月即在大陆地区摘下唱片销量榜冠军，轰动全国媒体，并拉开全国巡回签售及歌迷见面会。</p>-->
                    <p>{{introduction}}</p>

                </div>
                <div class="song-list">
                    <div style="overflow: auto; height: 300px; width:800px">
                    <table>
                        <tr>
                            <th>序号</th>
                            <th>歌曲名</th>
                            <th>歌手</th>
                            <th>专辑</th>
                        </tr>
                        <tr v-for="(song,i) in songs " @click="handleClick(song.id)">
                            <td>{{i+1}}</td>
                            <td>{{song.name}}</td>
                            <td>{{name}}</td>
                            <td>{{song.introduction}}</td>
                        </tr>

                    </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="footer">
                <div class="links">
                    <a hidefocus="true" href="#" target="_blank">开发者：</a>
                    <a hidefocus="true" href="https://github.com/linliquan" target="_blank">小松音乐</a>
                    <a hidefocus="true" href="#" target="_blank">广告合作</a>
                </div>
                <div class="copyright">
                    <p style="-moz-user-select: text;-webkit-user-select: text;-ms-user-select: text; user-select:text">
                        如有侵权，请联系：xiaosong@163.com </p>
                    <p>Copyright&nbsp;&nbsp;©&nbsp;&nbsp;2023&nbsp;&nbsp;版权所有&nbsp;&nbsp;
                        <a hidefocus="true" href="http://www.beian.miit.gov.cn" target="_blank">桂ICP备19004924号</a>
                        <a hidefocus="true" class="office-verification"
                           href="http://netadreg.gzaic.gov.cn/ntmm/WebSear/WebLogoPub.aspx?logo=440106106022006022000209"
                           target="_blank"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/axios/axios-0.18.0.js"></script>
<script src="../../plugins/jquery/jquery-1.10.0.min.js"></script>
<script src="xiangqing.js"></script>
</html>