<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../css/geshouxiangqing.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <style>
        .el-dropdown-link {
            cursor: pointer;
            color: #409EFF;
        }

        .el-icon-arrow-down {
            font-size: 12px;
        }
    </style>
</head>
<body>
<div id="app">
    <div id="bd">

        <div id="main">
            <div id="left">
                <!-- 左 -->
                <div id="touxiang">
                    <img :src="this.singer.pic" alt="" style="width: 100%; height: 100%;">
                </div>
                <div id="xinxi">
                    <span style="font-size: 30px;margin-left: 50px">基本资料</span>
                    <br>
                    <span style="font-size: 20px;margin-left: 20px">性别：{{this.singer.sex}}</span>
                    <br>
                    <span style="font-size: 20px;margin-left: 20px">生日：{{this.singer.birth}}</span>
                    <br>
                    <span style="font-size: 20px;margin-left: 20px">故乡：{{this.singer.location}}</span>
                </div>
            </div>
            <div id="right">
                <!-- 右 -->
                <div class="name">
                    <span style="font-size: 25px;">{{this.singer.name}}</span>
                    <!--                    <p>著名作词人、作曲人、唱片制作人、歌手。内地独立音乐之标杆人物，有音乐鬼才之称。2009年独立出版首张词曲全创作专辑《自定义》，2010年独立出版第二张词曲全创作专辑《寻雾启示》，两度掀起讨论热潮，一跃成为内地互联网讨论度最高的独立音乐人。2011年加盟海蝶音乐，推出第三张词曲全创作专辑《苏格拉没有底》，发行首月即在大陆地区摘下唱片销量榜冠军，轰动全国媒体，并拉开全国巡回签售及歌迷见面会。</p>-->
                    <p>{{this.singer.introduction}}</p>
                    <p>
                        <el-button :type="this.singer.isCollected ? 'success' : 'primary'" @click="toggleFollow">
                            {{ this.singer.isCollected ? '已关注' : '未关注' }}
                        </el-button>
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         class="bi bi-caret-right" viewBox="0 0 16 16" @click="playAll()">
                        <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                        <span>播放全部</span>
                    </svg>


                </div>
                <div class="song-list">
                    <el-table :data="songs" style="width: 100%">
                        <el-table-column label="">
                            <template slot-scope="scope">
                                <i class="bi bi-play" style="color: blue;width: 30px; height: 30px;margin-right: 5px"
                                   @click="addtoplay(scope.row)"></i>
                                <i v-if="scope.row.like" class="bi bi-suit-heart"
                                   style="color: red;margin-right: 5px"
                                   @click="toggleFavorite(scope.row)"></i>
                                <i v-else class="bi bi-suit-heart-fill" style="color: red;margin-right: 5px"
                                   @click="toggleFavorite(scope.row)"></i>
                            </template>
                        </el-table-column>
                        <el-table-column prop="name" label="歌名"></el-table-column>
                        <el-table-column prop="singerName" label="歌手"></el-table-column>
                        <el-table-column prop="introduction" label="专辑"></el-table-column>
                        <el-table-column prop="">
                            <template slot-scope="scope">
                                <el-dropdown>
                                    <span class="el-dropdown-link" @click="togglePopup()">收藏<i
                                            class="el-icon-arrow-down el-icon--right"></i></span>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item v-for="(songList,i) in songLists">
                                            <a rel="nofollow" @click="getPriceRange(songList.id,song.id)">
                                                {{songList.title}}
                                            </a>
                                        </el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/axios/axios-0.18.0.js"></script>
<script src="../../plugins/jquery/jquery-1.10.0.min.js"></script>
<link rel="stylesheet" href="../../plugins/element-ui/index.css">
<script src="../../plugins/element-ui/index.js"></script>
<script src="xiangqing.js"></script>
</html>