<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.xs_music.mapper.SingerMapper">

    <select id="getSingerLocationCategory" resultType="java.util.Map">
        SELECT location, count(location) AS "count"
        FROM singer
        GROUP BY location
        ORDER BY count DESC LIMIT 5
    </select>
    <select id="getSingers" resultType="com.win.xs_music.pojo.Singer">
        SELECT *
        FROM singer
        WHERE 1=1
        <if test="sex!=null">
            and sex = #{sex}
        </if>
        <if test="location!=''and location!=null">
            and location like concat('%',#{location},'%')
        </if>

    </select>


</mapper>
