<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.xs_music.mapper.SongListMapper">



    <select id="getStyle" resultType="java.util.Map">
        SELECT song_style.style_name as name ,count(song_list.style_ids) as "count"
        from song_style,song_list
        WHERE song_style.id = song_list.style_ids
        GROUP BY song_list.style_ids
        ORDER BY count DESC LIMIT 5
    </select>

    <select id="getSongList" resultType="java.util.Map">
        SELECT song_list.id as id ,song_list.pic as pic,song_list.title as title,song_list.love as love
        from song_style,song_list
        WHERE song_style.id = song_list.style_ids
        <if test="style_name != null and style_name != ''">
            and song_style.style_name like concat('%',#{style_name},'%')
        </if>
        ORDER BY song_list.id
    </select>

    <select id="getgedan" resultType="java.util.Map">
        SELECT title,pic,introduction
        from song_list
        WHERE id = #{id}
    </select>


    <insert id="addsing">
        insert into song_list(song_id, song_list_id)
        values (#{song_id}, #{song_list_id})
    </insert>
</mapper>
